[build-system]
requires = [
    'pybind11>=2.13.0',
    'scikit-build-core>=0.10.7',
]
build-backend = 'scikit_build_core.build'

[tool.scikit-build]
minimum-version = 'build-system.requires'
ninja.version = ">=1.11"
build.targets = ['pyhogpp']
sdist.exclude = [
    '*',
    '!/CMakeLists.txt',
    '!/data/*',
    '!/docs/*',
    '!/include/*',
    '!/LICENSE',
    '!/pyproject.toml',
    '!/python/*',
    '!/python/hogpp/__init__.py',
    '!/scripts/*',
    '!/tests/*',
    '!/workflow/*',
]

[tool.scikit-build.cmake]
version = ">=3.18"
build-type = "Release"

[tool.scikit-build.cmake.define]
BUILD_TESTING = false
CMAKE_CXX_FLAGS = '-DPYBIND11_DETAILED_ERROR_MESSAGES'
CMAKE_DISABLE_FIND_PACKAGE_OpenCV = true
CMAKE_DISABLE_FIND_PACKAGE_Sphinx = true
CMAKE_REQUIRE_FIND_PACKAGE_pybind11 = true

[project]
name = 'hogpp'
version = '0.1.0a1.dev2'
description = 'Fast computation of rectangular histogram of oriented gradients (R-HOG) features using integral histogram'
authors = [
  {name = "Sergiu Deitsch", email = "sergiu.deitsch@gmail.com"},
]
dependencies = [
  "numpy",
]
classifiers = [
  "Development Status :: 3 - Alpha",
  "Intended Audience :: Developers",
  "Intended Audience :: End Users/Desktop",
  "Intended Audience :: Science/Research",
  "License :: OSI Approved :: Apache Software License",
  "Operating System :: OS Independent",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: 3.13",
  "Programming Language :: Python :: Implementation :: CPython",
  "Programming Language :: Python :: Implementation :: PyPy",
  "Topic :: Scientific/Engineering :: Information Analysis",
  "Topic :: Software Development :: Libraries :: Python Modules",
]
license = {text = "Apache License (2.0)"}
requires-python = ">= 3.9"

[project.urls]
Documentation = "https://hogpp.readthedocs.io"
Issues = "https://github.com/sergiud/hogpp/issues"
Source = "https://github.com/sergiud/hogpp"

[tool.coverage.run]
omit = [
    'tests/python/**',
]
source = [
    'python/'
]

[tool.isort]
force_single_line = true
from_first = true
no_sections = true
order_by_type = false
src_paths = ['tests/python']
skip = ['.env/']

[tool.pytest.ini_options]
norecursedirs = 'internal'
testpaths = ['tests/python']
xfail_strict = true
addopts = [
    '--import-mode=importlib',
]

