autopep8>=2.0.2
cibuildwheel>=2.22.0
coverage>=7.6.4
flake8>=6.0.0
gcovr==8.2.0
isort>=5.12.0
numpy
Pillow>=10.4.0
pipx>=1.7.1
pytest
pytest-xdist
scikit-build-core>=0.10.7

-r python/requirements.txt
-r docs/requirements.txt
